<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engro</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://db.onlinewebfonts.com/c/2afedaab5a5177410b408023384af22d?family=Helvetica+Neue+LT+W01+55+Roman"
        rel="stylesheet">
</head>

<body>
    <nav>
        <img class="logo" src="/images/engro.svg" alt="">
        <ul>
            <li>who we are</li>
            <li>our verticals</li>
            <li>investor relations</li>
            <li>social impact</li>
            <li>join us @ engro</li>
            <li>knowledge centre</li>
            <li><img src="/images/search.svg" alt=""></li>
        </ul>
        <div class="cont">
            <img src="/images/contact.svg" alt="">
            <span>contact</span>
            <img src="/images/language.svg" alt="">
            <span>en</span>
        </div>
    </nav>
    <% if (typeof success !== 'undefined') { %>
        <div 
        id="success-message" 
        style="color: green; text-align: center; font-size: 20px; padding: 20px 0px;">
        <%= success %>
    </div>
        <script>
            setTimeout(function() {
              document.getElementById('success-message').style.display = 'none';
            }, 5000);
          </script>
      <% } %>
    <header>
        <img src="/images/engro-man.jpg" alt="">
        <div>
            <span class="kc">overview</span>
        </div>
        <h2>intertwined with the growth of the country</h2>
        <div class="fontfaimly">
            <span class="dis">The story of Engro is one that has remained intertwined with the growth of Pakistan. We
                have an undeniable responsibility in our individual and institutional capacity, to solve some of the
                most pressing issues of our time. In the pursuit of building a better future for Pakistanis, Engro views
                the challenges faced by the nation as opportunities to change the status quo.

                We believe our efforts will measurably improve our lives and those of our colleagues, customers,
                shareholders and the communities in which we live and work.</span>
        </div>
        <div class="hov"> <button class="readmore fontfaimly">readmore ></button></div>
    </header>

    <div class="container">
        <div>
            <span class="kc">knowledge centre</span>
        </div>
        <h2>latest updates from engro</h2>
        <div class="fontfaimly">
            <span class="dis">Where is the next phase of technology and innovation taking Engro Corporation? Read about
                the latest updates below.</span>
        </div>
    </div>

    <div class="press">
        <div class="rightside fontfaimly">
            <span>press release</span>
            <span>Aug 3,2022</span>
            <span>Lorem ipsum, dolor sit amet. Quibusdam tenetur id nemo et?</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, perspiciatis aliquid ea deserunt
                modi fugiat, atque dolore minus, officia aspernatur maiores ad voluptatibus reiciendis inventore
                voluptas dolor laborum unde obcaecati?</span>
        </div>
        <div class="leftside">
            <div class="box1">
                <div class="info fontfaimly">
                    <span class="announcements">announcements</span>
                    <span class="date">October 12, 2023</span>
                    <h5 class="engtext">EPQL Financial Results Q3, 2023</h5>
                </div>
            </div>

            <div class="box2">
                <div class="info fontfaimly">
                    <span class="announcements">announcements</span>
                    <span class="date">October 12, 2023</span>
                    <h5 class="engtext">EPQL Financial Results Q3, 2023</h5>
                </div>
            </div>

            <div class="box3">
                <div class="info fontfaimly">
                    <span class="announcements">announcements</span>
                    <span class="date">October 12, 2023</span>
                    <h5 class="engtext">EPQL Financial Results Q3, 2023</h5>
                </div>
            </div>

            <div class="box4">
                <div class="info fontfaimly">
                    <span class="announcements">announcements</span>
                    <span class="date">October 12, 2023</span>
                    <h5 class="engtext">EPQL Financial Results Q3, 2023</h5>
                </div>
            </div>





        </div>

    </div>

    <div class="footer-menu">
        <div class="footer-column">
            <h3>who we are</h3>
            <ul>
                <li><a href="#">overview</a></li>
                <li><a href="#">history</a></li>
                <li><a href="#">leadership</a></li>
                <li><a href="#">code of conduct</a></li>
                <li><a href="#">memberships and associations</a></li>
            </ul>
        </div>
    
        <div class="footer-column">
            <h3>investor relations</h3>
            <ul>
                <li><a href="#">shareholder information</a></li>
                <li><a href="#">shareholder notices & announcements</a></li>
                <li><a href="#">investor presentations</a></li>
                <li><a href="#">financial reports</a></li>
                <li><a href="#">regulatory requirements</a></li>
                <li><a href="#">integrated & sustainability reports</a></li>
            </ul>
        </div>
    
        <div class="footer-column">
            <h3>social impact</h3>
            <ul>
                <li><a href="#">corporate social responsibility</a></li>
                <li><a href="#">engro foundation</a></li>
                <li><a href="#">hussain dawood pledge</a></li>
                <li><a href="#">i am the change</a></li>
                <li><a href="#">envison</a></li>
                <li><a href="#">thar foundation</a></li>
            </ul>
        </div>
    
        <div class="footer-column">
            <h3>join us @ engro</h3>
            <ul>
                <li><a href="#">our culture</a></li>
                <li><a href="#">join us</a></li>
                <li><a href="#">engro leadership academy</a></li>
                <li><a href="#">health, safety & environment</a></li>
                <li><a href="#">awards & recognition</a></li>
            </ul>
        </div>
    
        <div class="footer-column">
            <h3>knowledge centre</h3>
            <ul>
                <li><a href="#">press releases</a></li>
                <li><a href="#">stories</a></li>
                <li><a href="#">blogs</a></li>
                <li><a href="#">media gallery</a></li>
                <li><a href="#">talks@engro</a></li>
                <li><a href="#">Shahzada Dawood Learning Circle</a></li>
            </ul>
        </div>
    </div>
        




</body>

</html>