<!DOCTYPE html>
<html lang="en">
    <style>
        input[type="checkbox"] {
            width: 20px;
            height: 20px;
        }
    </style>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    
    <div class="container">
        <h1>Signup</h1>
        <% if (typeof error !== 'undefined') { %>
            <div class="error-message" id="error-message"><%= error %></div>
            <script>
                setTimeout(function() {
                  document.getElementById('error-message').style.display = 'none';
                }, 5000);
              </script>
          <% } %>
        <form action="/signup" method="POST">
            <input type="text" name="firstName" placeholder="Enter First Name" required>
            <input type="text" name="lastName" placeholder="Enter Last Name" required>
            <input type="email" name="email" placeholder="Enter Email" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
            <div style="color: grey; font-size: 14px; padding: 15px 0px;">
                <input type="checkbox" name="isAdmin" value="admin">
                Is Admin ?
            </div>
            <button type="submit">Signup</button>
        </form>
        <a href="/">Go to Login</a>
    </div>
</body>
</html>
